.profile__name {
  margin: 0;
  padding: 0;
  max-width: 340px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;

  color: #FFFFFF;
}

/*for 650*/
@media screen and (max-width: 650px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}